@import url("/css/style.css");

body {
    color: #0A3641;
}



h1 {
    text-transform: uppercase;
}

.cta {
    background-color: #0A3641;
    color:#fff;
    text-decoration: none;
    padding: 10px 80px;
    border-radius: 10px;
    font-size: 1.4em;
    text-transform: uppercase;
}

.filter-container {
    margin: 2em 3.5em;
  }

h1 {
    margin-left: 1.7em;
  }


@media (max-width: 600px) {

    
    .home-womens-products, .home-mens-products, .about-us-home {
        display: flex;
        flex-direction: column;
        
    }
    
    .home-womens-products img, .home-mens-products img {
        min-height: 400px;
        height: 100%;
    }

    .women-products, .men-products {
        margin-left: 60px;

    }

}



